@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

.dark {
  --background: #0f172a;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  @apply transition-colors duration-300 antialiased;
}

/* Typography helper agar konten blog/tulisan terlihat bagus */
.prose {
  @apply max-w-none text-gray-600 dark:text-gray-400 leading-relaxed;
}
